.u-center-text { text-align: center; }

.u-margin-bottom-big { margin-bottom: 8rem; }
.u-margin-bottom-med { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 2rem; }

.u-float-rt {
  float: right;
}

.u-float-lt {
  float: left;
}

.u-icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}