$font-stack: Avenir-Medium, sans-serif;
$font-weight-user: 400;
$color-primary: #44576b;
$color-secondary: #01b4b4;
$color-white: White;
$color-black: black;
$color-primary-light: #a9b6c4;
$color-off-white: #f4f5f6